<h1>Posts#index</h1>

<%= turbo_frame_tag "new_post" do %>
  <p>
    <%= link_to "NEW", new_post_path, class: "btn btn-success btn-lg" %>
  </p>
<% end %>

<div id="all-posts">
  <%= render @posts %>
</div>
